name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  tests:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Start dependencies
      run: docker compose -f tests/docker-compose.yaml -f outbox/tests/docker-compose.yaml up -d

    - name: Get cover tooling (1/2)
      run: go get golang.org/x/tools/cmd/cover

    - name: Get cover tooling (2/2)
      run: go get github.com/mattn/goveralls

    - name: Test Bunnify
      run: go test -coverprofile=profile.bunnify.cov -coverpkg=./... ./...

    - name: Test Outbox
      run: cd outbox && go test -coverprofile=../profile.outbox.cov -coverpkg=./... ./...

    - name: Merge coverage
      run: cat profile.outbox.cov | grep -v 'mode: set' >> profile.bunnify.cov

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.bunnify.cov
        github-token: ${{ secrets.GITHUB_TOKEN }}
